
.container-fluid{
    margin-top:20px;
}
.content_title{
    text-align: center;
    position:relative;
    
}
.content_title h2{
    display: inline-block;
    padding: 20px;
    font-size: 1.5em;
    letter-spacing: 4px;
    text-transform: capitalize;
}
.content_title h2:after{
    content:"\f103";
    font-family: 'FontAwesome';
    font-size: 1em;
    position: absolute;
    top:80%;
    left:49%;
    
}
/*forms*/
.redtext{
    color:red;
}

.form_custom{
    overflow: hidden;
    margin: 20px 0 40px;
    padding: 30px;
    background: white;
    box-shadow: 2px 4px 6px #9e9d9e;
}
.form_custom label{
    font-weight: normal;
}
.form_custom figure,
.details figure{
    
    max-height: 350px;
    margin: 0 auto 20px;
}
.form_custom figure img,
.details img{
    width: 100%;
    height: 100%;

}
.form_custom input[type="file"],
.form_custom input[type="time"],
.form_custom input[type="url"]{
max-width: 300px;

}
/*end forms*/
/*List recipes*/
#search{
    margin-top: 30px;
    overflow: hidden;

}

#search>*{
   max-width: 300px; 
   margin:0 auto 10px auto;
   
}

#list_recipes{
    margin: 10px auto 20px;
}

.item_recipe{
    margin-bottom:10px;
    background: white;
    cursor: pointer;
    
    padding: 10px;
    -moz-box-shadow: 2px 4px 6px #9e9d9e;
    -webkit-box-shadow: 2px 4px 6px #9e9d9e;
    box-shadow: 2px 4px 6px #9e9d9e; 
    transition:all .4s;
    
}
.item_recipe:hover{
    background: #F2EAEA;
}
.col-sm-4{
    padding: 0 5px;
}

.item_recipe figure{
    
    margin: 6px 0 6px 6px;
    padding: 5px;

    
}

.item_recipe figure img{
    width: 100%;
    height:100%;
}
.item_recipe .info{
    padding-left: 10px;
    position: relative;
    color: #6f6868;
    
}
.item_recipe .star-favorite{
    position:absolute;
    right: 25px;
    bottom: 30px;
}
.item_recipe .star-favorite i{
    font-size: 1.5em;
    color:#f3d406;
}
.item_recipe .info h3{
    font-size: 1.1em;
    margin:10px 0 5px 0;
        font-weight: 600;
    color: #8a6d3b;
    text-transform: capitalize;
    word-wrap:break-word;
}
.item_recipe .info p{
    margin:0 0 2px; 
    font-size: .7em;
}
/*end listrecipes*/
/*details recipe*/
.details .favorites{
    text-align: center;
    margin-bottom: 25px;
}
.details .favorites a{
    border-radius: 10px;
    background: #D0CACA;
    color:#383333;
    padding: 8px 10px;
    
}
.details .favorites:hover a{
    background: #EB4848;
    color:white;
}
.details .favorites:hover i{
   color:#f3d406;

}
.details label{
    position:relative;
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #8a6d3b;
    font-weight: 600;
}

.details label:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #f1c0c0;
    top: 30px;
    left: 0;
}

.details .categories{
    margin: 10px 0;
}
.details .categories>li{
    display:inline-block;
    color:white;
    margin-bottom:3px;
    padding: 5px 6px;
    font-size: .8em;
    background: #7F7676;
    border-radius: 10px;
}
.details .categories li i{
   
    margin-left:3px; 
}

.details .tools{
    text-align: center;
    margin: 20px 0 30px;
}
.details .tools>a{
    display: inline-block;
}
.details .tools i{
    
    color:white;
    font-size: 1.6em;
    margin: 0 8px;
    padding: 20px;
    background: #E83535;
    border-radius: 50%;
    cursor:pointer;
}
.details .socialshare{
    text-align: center;
    margin: 30px auto;
    
}
.details .socialshare a{
    margin-bottom:5px; 
}

@media print {

   header,footer,.tools,.socialshare,.fab{display:none;}
}

@media screen and (min-width: 480px){
    .content_title:after{
        top:70px;
    }
    form figure{
        width:300px;
        height:300px;
        
    }
}
@media screen and (min-width: 600px){
    #search>*{
        float: right;
        margin: 0 0 10px 10px;
    }
    #search select{
        display: inline-block;
    
    }
    .item_recipe{
        
    }
    .item_recipe figure{
        
        margin: 6px 0 6px 6px;
        padding: 5px;
        vertical-align: top;
    }
}
