#phone{
	text-align: center;
}
.content_section{
	margin: 50px 0;
    padding: 20px 0;
    background: rgba(150, 146, 146, 0.14);
}
.content_section a{
	display: inline-block;
	
}

.content_section figure{
	
	position: relative;
	display: inline-block;
	z-index: 1000;
	margin-bottom: 40px;
}

.content_section figure img{
	width: 200px;
	height: 200px;
	padding: 8px;
	border-radius:50%;
	background: white;
	-moz-box-shadow: 2px 4px 6px #9e9d9e;
    -webkit-box-shadow: 2px 4px 6px #9e9d9e;
    box-shadow: 2px 4px 6px #9e9d9e;

}
.content_section figure:before{
	content:"";
	position: absolute;
	top:91%;
	left:21%;
	border-right: solid 60px transparent;
	border-top: solid 60px white;
	border-left: solid 60px transparent;
	border-bottom:solid 0px transparent;
	z-index: -99;

}
.content_section figure:after{
	content:"";
	position: absolute;
	top:93%;
	left:21%;
	border-right: solid 60px transparent;
	border-top: solid 60px rgba(128, 128, 128, 0.44);
	border-left: solid 60px transparent;
	border-bottom:solid 0px transparent;
	z-index: -100;

}
.content_section h3{
	font-size: 22px;
	color:black;
}
.content_section .info{
	margin: 0 auto;
	width: 90%;
}

#web{
	display:none;
}

.intro_web{
	text-align:center;
	margin:60px 0;
	background: #BA1111;
	padding: 20px;
	color:#E9E1E1;
}
#web .content_section a{
	display: inline-block;
}
#web .content_section{
	width: 100%;
	padding: 50px 0 20px;
    background: rgba(150, 146, 146, 0.14);
	margin: 80px 0;
	text-align: center;
	border-bottom: rgba(243, 7, 19, 0.51) 1px solid;
	border-top: rgba(243, 7, 19, 0.51) 1px solid
}
#web .content_section>*{
	display: inline-block;
}

#web .content_section .info{
	vertical-align: middle;
	margin:0 60px;
	width: 40%;
}
#web .content_section .info p{
	position: relative;
}
#web .content_section .info p:before{
	content:"\f141";
	font-family: 'FontAwesome';
	position: absolute;
	top:100%;
	left:50%;
}
#web .content_section figure:before,
#web .content_section figure:after{
filter: opacity(0);

}
	
#web .content_section:nth-child(odd) figure:before{
	top:22%;
	/*left:89%;*/
	border-bottom: solid 60px transparent;
	border-left: solid 60px white;
	border-top: solid 60px transparent;
	border-right:solid 0px transparent;
	transition-duration:.4s;
}
#web .content_section:nth-child(odd) figure:after{
	top:22%;
	/*left:91%;*/
	border-bottom: solid 60px transparent;
	border-left: solid 60px rgba(128, 128, 128, 0.44);
	border-top: solid 60px transparent;
	border-right:solid 0px transparent;
	transition-duration:.4s;

}
	
#web .content_section:nth-child(even) figure:before{
	top:22%;
	/*left:-18%;*/
	border-bottom: solid 60px transparent;
	border-right: solid 60px white;
	border-top: solid 60px transparent;
	border-left:solid 0px transparent;
	transition-duration:.4s;
}
#web .content_section:nth-child(even) figure:after{
	top:22%;
	
	border-bottom: solid 60px transparent;
	border-right: solid 60px rgba(128, 128, 128, 0.44);
	border-top: solid 60px transparent;
	border-left:solid 0px transparent;
	transition-duration:.4s;
}

#web .content_section:nth-child(odd) figure:hover:after{
	left:91%;
	filter: opacity(1);
}
#web .content_section:nth-child(odd) figure:hover:before{
	left:89%;
	filter: opacity(1);
}
#web .content_section:nth-child(even) figure:hover:after{
	left:-20%;
	filter: opacity(1);
}
#web .content_section:nth-child(even) figure:hover:before{
	left:-18%;
	filter: opacity(1);
}
#web .content_section figure img{
	filter:opacity(70%);
	background: white;
	transition-duration: .4s;

}
#web .content_section figure img:hover{
	filter:opacity(100%);

}
#web .content_section:nth-child(even) img{
	-moz-box-shadow: -2px 4px 6px #9e9d9e;
    -webkit-box-shadow: -2px 4px 6px #9e9d9e;
    box-shadow: -2px 4px 6px #9e9d9e;
}

@media screen and (min-width: 480px){
    
}
@media screen and (min-width: 600px){
    
}
@media screen and (min-width: 768px){
	#web{
		display: block;
	}
	#phone{
		display:none;
	}
	 
	#slideshow { 
	    margin: 80px auto; 
	    position: relative; 
	    text-align: center;
	    width: 100%;
	    height: 200px;
	    padding: 10px; 
	}

	#slideshow:before{
		content: ' ';
    	display: block;
    	position: absolute;
    	left: 0;
    	top: 0;
    	width: 100%;
    	height: 100%;
    	filter: opacity(0.7);
		-ms-background-size: cover;
    	-o-background-size: cover;
    	-moz-background-size: cover;
    	-webkit-background-size: cover;
    	 background-size:cover;
	    background-image:url('../../img/cooking.jpg'); 
	    background-position:50%,50%;
	}
	#slideshow > div { 
	    position: absolute; 
	    top: 10px; 
	    left: 10px; 
	    right: 10px; 
	    bottom: 10px; 
	}
	#slideshow > div h3,
	#slideshow > div p{
		
		color: white;
	}
	#slideshow > div h3{
		margin: 45px auto 20px;
	}
	#slideshow > div h3:after,
	#slideshow > div h3:before{
		font-family: 'FontAwesome';
		font-size: .6em;
		position: relative;
		top:-5px;
	}
	#slideshow > div h3:after{
		content:'\f10e';
	}
	#slideshow > div h3:before{
		content:'\f10d';
	}
}
@media screen and (min-width: 950px){
    
}